```
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.rej
.svn/
.wafpickle-*
*.swp
*.swo
*~
.DS_Store
Thumbs.db
```