Django>=4.2,<5.0
django-jalali>=6.0
Pillow>=10.0
python-decouple>=3.8
requests>=2.31.0
jdatetime>=4.0.0
persian-tools>=1.20.0
psycopg2-binary>=2.9.0
gunicorn>=21.0.0
whitenoise>=6.5.0
django-cleanup>=8.0.0


میخوام ماژولی تولید و پیاده سازی کنی که مخصوص مدیریت فرایند کاری رانندگان شهری هست.
به این صورت که دارای بخش هایی از جمله داشبورد اختصاصی برای خود آژانس هست که نقش کارمند با مجوز هایی که مدیریت برای نقش کارمند تعیین کرده به اون دسترسی داره، نقش مدیریت با مجوز هایی که نقش ادمین برای اون مشخص کرده و ادمین دسترسی کامل به اون رو داره باشه
در این داشبورد علاوه بر نوار دسترسی کناری یا نوبار که داره و شامل تمامی بخش های موجود در ماژول هست در صفحه اصلی داشبورد مدیریت کارت هایی برای نمایش آمار سرویس های انجام شده روز جاری به تاریخ شمسی، لیست رانندگان حاضر و غایب، ۵ سرویس آخر روز جاری به تاریخ شمسی، نمودار رتبه بندی رانندگان بر اساس سرویس های انجام داده شده توسط رانندگان در روز جاری به تاریخ شمسی و لیست بدهکاران بایت کمیسیون پرداخت نشده به آژانس باشه.
