Django>=4.2,<5.0
django-jalali>=6.0
Pillow>=10.0
python-decouple>=3.8
requests>=2.31.0
jdatetime>=4.0.0
persian-tools>=1.20.0
psycopg2-binary>=2.9.0
gunicorn>=21.0.0
whitenoise>=6.5.0
django-cleanup>=8.0.0
