{% autoescape off %}
سلام،

درخواستی برای بازیابی رمز عبور حساب کاربری شما در سامانه مدیریت بارنامه صدرا بار خراسان دریافت شده است.

اگر شما این درخواست را ارسال کرده‌اید، لطفاً روی لینک زیر کلیک کنید تا رمز عبور خود را بازیابی کنید:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

این لینک فقط برای ۳ روز معتبر است.

اگر شما این درخواست را ارسال نکرده‌اید، لطفاً این ایمیل را نادیده بگیرید و رمز عبور خود را تغییر ندهید.

با احترام،
تیم پشتیبانی سامانه صدرا بار خراسان
{% endautoescape %}
