{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'driver_queue/favicon.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سامانه نوبت‌دهی رانندگان - صدرا بار خراسان</title>
    <script type="module" crossorigin src="{% static 'driver_queue/assets/index-DrwHABSH.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'driver_queue/assets/index-CTNndzoJ.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
